<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mahjong 3D</string>
	<key>CFBundleExecutable</key>
	<string>Mahjong3D</string>
	<key>CFBundleIconFile</key>
	<string>Mahjong3D</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.elh.mahjong-3d.saver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mahjong 3D</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.5</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026. Licensed under MIT.</string>
	<key>NSPrincipalClass</key>
	<string>Mahjong3DScreenSaverView</string>
</dict>
</plist>
